/target/
target/classes/META-INF/maven/cryptocurrency-analysis/com.stacksavings/pom.properties
target/classes/META-INF/maven/ta4j-test/com.stacksavings/pom.xml
target/classes/META-INF/maven/ta4j-test/com.stacksavings/pom.properties
