<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="FILE" fileName="logs/curoutput.log">
            <PatternLayout pattern="%d %p %c: %m%n" />
        </File>

        <RollingFile name="Rolling" fileName="logs/output.log"
                     filePattern="logs/output-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p [%t] (%F:%L) - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB" />
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="SummaryRolling" fileName="logs/summary_rolling.log"
                     filePattern="logs/output-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB" />
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="CurrencySummaryRolling" fileName="logs/currency_summary_rolling.log"
                     filePattern="logs/output-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB" />
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="TickRolling" fileName="logs/tick_rolling.log"
                     filePattern="logs/output-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB" />
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="TickCombinedSummaryRolling" fileName="logs/tick_combined_summary_rolling.log"
                     filePattern="logs/output-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB" />
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="SummaryRollingLog" level="trace" additivity="false">
            <AppenderRef ref="SummaryRolling"/>
        </Logger>
        <Logger name="CurrencySummaryRollingLog" level="trace" additivity="false">
            <AppenderRef ref="CurrencySummaryRolling"/>
        </Logger>
        <Logger name="TickRollingLog" level="trace" additivity="false">
            <AppenderRef ref="TickRolling"/>
        </Logger>
        <Logger name="TickCombinedSummaryRollingLog" level="trace" additivity="false">
            <AppenderRef ref="TickCombinedSummaryRolling"/>
        </Logger>

        <Root level="trace">
            <AppenderRef ref="FILE" />
            <AppenderRef ref="Rolling" />
        </Root>
    </Loggers>
</Configuration>